*, html{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    max-width: 1024px;
    margin: auto;


}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    gap: 70px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    display: flex;
    background-color: rgb(25 25 26);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    list-style-type: none;
}
.navigation >  li a{
    color: white;
    padding: 20px;
    text-decoration: none;
}
.navigation > li a:hover{
    background-color: black;
    border-radius: 20px;
}
.section1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.div1{
    width: 70%;
}
.div2{
    display: flex;
    justify-content: center;
    width: 30%;
    object-fit: cover;
}
.text1{
    font-size: 64px;
    color: white;
}
.div2 > img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid white;

}
span{
    color: rgba(255, 255, 255, 0.466);
}
h3{
    color: white;
}
.pages{
    width: 100%;
}
.pages-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: rgb(25 25 26);
    margin-top: 16px;
    border: 1px solid rgb(125 126 130);
    border-radius: 4px;
    width: 46%;
}
.page-item:hover{
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.207);
}
.section3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}
.section-item{
    width: 46%;
    
}
.section3-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: rgb(25 25 26);
    border: 1px solid rgb(125 126 130);
    border-radius: 4px;
    width: 100%;
    margin-top: 16px;
}
.section3-container:hover{
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.207);
}
.section3-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sectionbox{
    display: flex;
    flex-direction: column;
}
.section4{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.section4-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec4-span{
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 8px;
}
.boxsec1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.smallbox{
    display: flex;
    justify-content: center;
    width: 20%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.smallbox:hover{
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.207);
}

@media screen and (max-width: 700px) {
    body{
        width: 90%;
        margin: auto;
    }
    .nav{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .navigation{
        gap: 10px;
    }
    .section1{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .text1{
        font-size: 30px;
    }
    .pages{
        display: flex;
        flex-direction: column;
    }
    .section3{
        display: flex;
        flex-direction: column;
    }
    .section4{
        display: flex;
        flex-direction: column;
    }
    .boxsec1{
        display: flex;
        flex-direction: column;
    }
}
/* @media screen and (max-width: 700px) {
    body{
        width: 100%;
        margin: auto;
    }
    .main{
        width: 90%;
        margin: auto;
        padding: 20px;
    }
    .navigation{
        left: 500;
        justify-content: center;
        align-items: center;

    }
    .section1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    
} */